<!DOCTYPE html>
<html>
  <head>
    <title>Instatalk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://use.fontawesome.com/afd3ef1310.js"></script>
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="text-center mt-4 mb-4">
          <div class="card-body">
            Welcome to Instatalk, <b><%= current_user.nickname %></b>!
          </div>
        </div>

        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>

